# Compiled files
*.tfstate
*.tfstate.backup
.terraform.tfstate.lock.info

# Module directory
.terraform/
/terraform/.terraform.lock.hcl
/terraform/tfplan
/terraform/build-alb-ecs-rds-using-modules/.terraform.lock.hcl
/terraform/build-alb-ecs-rds-using-modules/tfplan
